@import url("../../style.css");



.enviar{
  margin-top: 40px;
}

.create{
  margin-top: 10px;
  color: #ffffff;
  opacity: 80%;
}


@media (min-width: 1200px){
  section h1{
    margin-top: 10px;
}

.input{
    margin-bottom: 10px;
}

 
}
