@import url("../../style.css");




.checkbox {
  margin:20px 0px 20px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox input {
    width: 16px;
    height: 16px;
}

.checkbox label {
    font-size: 0.95rem;
    cursor: pointer;
}

.checkbox label a{
 
  font-weight: 600;
}