*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



h2, label, input, p,h3,span,strong {
    font-family: "Inter", sans-serif;
}


h2 {
    font-weight: 700;
}

span{
    font-weight: 500;
}

input{
    font-weight: 400;
}
h3{
    font-weight: 800;
}

p{
    font-weight: 500;
}

strong{
    font-weight: 700;
}

body {
  position: relative;
     background:url(https://i.pinimg.com/1200x/af/09/4f/af094f5cf734a6434f5c9f859c36774b.jpg);
     background:url(https://i.pinimg.com/1200x/af/09/4f/af094f5cf734a6434f5c9f859c36774b.jpg);
overflow-y: hidden;
    background-position: top;
    background-repeat: no-repeat;
  font-family: 'Courier New', Courier, monospace;
    color: #fff;
    width: 100%;
    min-height: 100vh;
  

}
  

main{
    width: 100%;
    min-height: 100%;
display: grid;
   grid-template-columns: 80px 1fr;
   gap: 10px;
   padding: 10px;

}

aside{
    background-color: #0e0e0fa7;
    box-shadow: 1px 1px 5px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  
   
    
}

aside .vento{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    background-color:#0e4eb2 ;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
   
}

aside .caixa_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.opcao-menu button{
border: none;
background-color: transparent;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
color: #fff;
}

.opcao-menu button:hover{
   color: rgb(194, 194, 194);
}

.opcao-menu i{
    font-size: 1.5em;
}

.opcao-menu span{
    font-size: .9em;
    font-weight: 700;
}

.settings i {
    transition: transform 0.3s ease;
    transform: rotate(-180deg);
}

.settings.rotacao i{
transform: rotate(180deg);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.container .background{
  background-color: #0e0e0fa7;
      box-shadow: 1px 1px 5px black;
    padding: 5px;
    border-radius: 10px;
    width: auto;
    min-width: 240px;
    display: flex;
   align-items: center;
 
}
.background input{
    background-color: transparent;
  padding: 5px;
    border: none;
    width: 90%;
    outline: none;
    color: #fff;
      font-size: 1.3em;
}


.background input::placeholder{
    color: #fff;
    font-family: "Inter", sans-serif;
   

}
.fa-magnifying-glass{
   display: flex;
   align-items: center;
   justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    transition: .5s;

}

.background i:hover{
background-color:#616e7c ;
border-radius: 10px;
color: #fff;

}



.resultado{

    display: flex;
    flex-direction: column;
    gap: 13px;
   
}
.resultado h2{
    text-shadow: 1px 2px 1px black;
    font-size: 2em;
    
    
}

.resultado p{
    text-shadow: 1px 2px 1px black;
    font-size: 1.5em;
    font-weight: 600;
}
.Graus{
    font-size: 2.3em;
     text-shadow: 1px 2px 1px black;
}


    .more-infor{
        display: none;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
    }
    /* .DivMoreInfor{
        background-color: #0e4eb2;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
    } */


.painel {
    
    box-shadow: 1px 1px 5px black;
    background-color: #0e0e0fa7;
    padding: 5px;
    
 }


.painel p{
    font-size: 1.5em;
    font-weight: 600;
    margin:5px 0px 30px 20px;
   
}

.cards{
    display: flex;
      align-items: center;
    gap: 10px;
}
.climaHora{
    position: relative;
    display: flex;
    flex-direction: column;
   align-items: center;
  justify-content: center;
    gap: 5px;
    margin:0px 0px 0px 10px;
}

.climaHora:not(:last-child)::before {
    position: absolute;
    content: "";
    top: 0px;
    right: -10px;
    background-color: rgb(247, 244, 244);
    height: 100%;
    width: 2px;
}
.climaHora .hora{
    font-size: 1.4em;
    font-weight: 700;
}


.climaHora img {
    width: 40px;
    height: 40px;
}


.climaHora .temperatura{
    font-size: 1.5em;
     font-weight: 700;
}

.weather-details-card {
 
  border-radius: 16px;
  color: #ffffff;
  font-family: 'Inter', sans-serif; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 16px; 
}


.detail-item {
  display: flex;
  align-items: center;
  gap: 12px; 
}


.detail-icon {
  font-size: 24px;
  color: #a0c4ff; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.detail-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}


.detail-info .label {
  font-size: 1.6em;
  color: #b0c4de; 
  font-weight: 600;
}


.detail-info .value {
  font-size: 1.6em;
  font-weight: 700;
  margin-top: 2px;
}

.detail-info .value small {
  font-size: 12px;
  font-weight: 400;
}



.conteudo{
    border: 3px solid white;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 0px;
    padding: 10px;
    height: 100%;
    position: absolute;
    transform: translateX(210px);
    z-index: 1000;
   display: none;
    flex-direction: column;
gap: 20px; 
overflow-y: scroll;
transition: 4s;
}




.conteudo.aparece{
   width: 400px; 
   display: flex;

   align-items:center ;
   transition: 1s;
   
}









@media (min-width: 1024px) and (max-width: 1440px) {

    

main{
  align-items: center;
  gap: 20px;  
}


    aside{
        height: 97%;
        width: 100px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "search search"
            "cidade cidade"
            "more-infor more-infor"
            "painel details";

        gap: 10px;
        padding: 10px;
    }
    .background input{
  
      font-size: 2em;
}

.fa-magnifying-glass{
  
    font-size: 2em;
   

}

.resultado{
    display: flex;
   
}

    .resultado h2{
    text-shadow: 1px 2px 1px black;
    font-size:3em;
    
}

.resultado p{
   
    font-size: 2em;
    
}
.Graus{
    font-size: 2.5em;
    
     
}


    .background {
        grid-area: search;
    }


    .infor-Cidade {
        grid-area: cidade;
    }

    

    .painel {
        grid-area: painel;
    }


    .Details {
        grid-area: details;
    }


    .more-infor{
      
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .DivMoreInfor{
        background-color: #071833;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .painel,
    .Details {
        height: 240px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        gap: 10px;
    }

    .painel{
        padding: 0px 10px 30px 10px;
    }

  .Details{
    padding: 10px;
  }

   
    .painel > p {
        font-size: 2.4em;
        margin-bottom: 40px;
        
    }


  .climaHora:not(:last-child)::before {
  
    right: -40px;
    
    width: 3px;
}
   

    .cards  {
        min-width: 80px;
      height: 80px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
    }


    .cards  img {
        width: 80px;
        height: 80px;
    }


    .cards a span {
        font-size: 1.1rem;
    }


    /* Details */
    .weather-details-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        
    }


    .detail-item {
        padding: 10px;
        min-height: 100px;
        border-radius: 20px;
        background-color: #c7ccd256;
    }


    .detail-icon {
        font-size: 2.5rem;
    }


    .label {
        font-size: 1.1rem;
    }


    .value {
        font-size: 2rem;
    }
}

.conteudo{
    border: 3px solid white;
    backdrop-filter: blur(10px);
    width: 0px;
    padding: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
   display: none;
    flex-direction: column;
gap: 20px; 
overflow-y: scroll;
transition: 4s;
}


.conteudo.aparece{
   width: 400px; 
   display: flex;
  
   align-items:center ;
   transition: 1s;
   
}




.conteudo h2{
    text-align: center;
    margin: 5px;
}

.historico-container{
   display: flex;
    flex-direction: column;
gap: 40px;  }

.card-historico{
    background-color: #616e7c;
    height: auto;
    width: 360px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.card-imagem{
    font-size: 1.2em;
}

.card-conteudo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-topo{
    display: flex;
    
    gap: 5px;
}

.card-baixo{
    display: flex;
    gap: 10px;
}