@import url("../../style.css");


.instruction{
    margin-bottom: 20px;
}


p{
     font-size: 15px;
}

ul{
     font-size: 14px;
text-align: center;}

li {
    margin-bottom: 8px;
}

.enviar{
  margin-top: 50px;
}

.create{
  margin-top: 10px;
  color: rgba(255,255,255 , 0.85);

gap: 10px;
  opacity: 80%;
}


