@import url("../../style.css");

 
.instruction{
  margin-bottom: 10px;
  text-align: center;
}

.campoInput{
  margin-top: 10px;
}

ol{
  display: flex;
  flex-direction: column;
 
 align-items: center;
  
}


.campoButton{
  margin-top: 20px;
}