*{
    margin:0px ;
    padding: 0px;
}

body {
    background: #121212;
    color: #a0a0a0;
}



article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#termos,#diretrizes h1{
    margin-top: 10px;
   text-align: center;
    color: #ffffff;
}

.ultima-atualizacao{
    text-align: center;
}

section{
    color: #e0e0e0;
}

h2{
    margin: 10px 0px 10px 0px;
}

section p,ul{
    line-height:1.7 ;
}

section a{
    text-decoration: none;
}